html {
    --bgcolor: #598381;
    --color: #ffffff;
    --color2: #177E89;
    --buttoncolor: #08605F;
    --textareacolor: #177E89;
    --textbordercolor: #14CC60;
    --fonttype: Arial;
    --fontsize: 15px;
    
}